/* src/App.css */
body {
  margin: 0;
  padding: 0;
  background-color: #F3E8DF; /* Warna Krem */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #452829; /* Warna Cokelat Tua */
}

input {
  border: 1px solid #E8D1C5;
  border-radius: 8px;
  padding: 12px;
}

button {
  background-color: #452829;
  color: white;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.9;
}